body {
  background-color: #eee;
}

.App {
  text-align: center;
}

.user-list, .country-list {
  list-style: none;
  padding: 10px 0;
  width: 80%;
  margin: 0 auto;
}

.country {
  margin: 10px 0;
  padding: 10px 0;
  border: 1px solid grey;
  cursor: pointer;
}

.user {
  padding: 10px 0;
  background-color: #ddd;
  cursor: default;
}

.country .title {
  font-weight: bold;
  font-size: 25px;
}

.gender-filter {
  padding: 20px 0;
}

.no-user {
  padding: 10px;
  background-color: #ddd;
  cursor: default;
  color: red;
}